html {
    height: 100%;
    width: 100%;
}
div.container {
    width: 80%;
    max-width: 2000px;
    min-width: 1000px;
    margin: 2.0833% auto;
}
div.container div {
    display: inline-block;
    margin: 2.0833%;
}



div.header {
    width: 95.833%;
}



div.nav {
    width: 25%;
    float: right;
}



div.content {
    width: 66%;
    float: left;
}



div.footer {
    height: 150px;
    width: 95.833%;
}